<!-- footer  -->

<div class="container">
    <div class="row">
        <!-- Company Informations  -->
        <div class="col-lg-4 mb-4">
            <h4 class="mb-3">عن مجموعة المفرجي</h4>
            <p>نقدم أفضل التجارب الترفيهية للأطفال، مع توفير بيئة آمنة وممتعة للعائلات. نسعى دائمًا لتحقيق السعادة والإبداع.</p>
            <p>لعنوان: صحار ، الطريق السريع ، سلطنة عمان</p>
            <p>هاتف:</p>
            <p><a href="#">+96892970749</a></p>
            <p></p>
            <p>بريد إلكتروني: info@almafregigroup.com</p>
        </div>
        <div class="col-lg-4 mb-4">
            <h5 class="mb-3">روابط سريعة</h5>
            <ul>
                <li><a href="#" class="text-white">الصفحة الرئيسية</a></li>
                <li><a href="#" class="text-white">من نحن</a></li>
                <li><a href="#" class="text-white">الخدمات</a></li>
                <li><a href="#" class="text-white">تواصل معنا</a></li>
            </ul>
            
        </div>
        <div class="col-lg-4 mb-4">
            <h5 class="mb-3">موقعنا</h5>
            <div class="ratio ratio-16x9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.8354345096313!2d144.9554313153102!3d-37.81720997975162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43b1b19e91%3A0xb0f54c03e0cb7c4b!2sXYZ%20Street%2C%20Riyadh%2C%20Saudi%20Arabia!5e0!3m2!1sen!2ssa!4v1694188809452!5m2!1sen!2ssa" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 text-md end text-center">
            <p class="mb-0">© 2024 مجموعة المفرجي. جميع الحقوق محفوظة.

            </p>
        </div>
    </div>
</div>
