/* Global Styles */ 
:root {
    --main-color: #3498db; /* لون رئيسي */
    --secondary-color: #2ecc71; /* لون ثانوي */
    --font-size: 16px; /* حجم الخط */
    --bs-blue: #0d6efd;
}

*{
    padding: 0;
    margin: 0;
    text-decoration:none !important;
    list-style: none;
    font-family: "Tajawal",  sans-serif;
}
button{
    color: black !important;
}